*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1360;
    margin: 0px auto;
    /* border: 1px solid red; */
    align-items: center;
    padding: 16px 0px;
}

nav ul{
    display: flex;
    gap: 32px;
}

nav li{
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    font-weight:500;
}

nav ul a:hover {
    text-shadow: 0 0 8px #469165;
}



nav img{
    width: 139px;
}

nav button{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
}

/* HERO CONTAINER */
.Banner{
    
    background: url(../assets/hero-bg.png);
}

.hero-container{
    max-width: 770px;
    margin: 0px auto;
    padding: 115.5px 120px 179.5px 120px;
}

.early-access img{
    width: 16px;
    height: 16px;
}

.early-access{
    margin: 0px auto;
    display: flex;
    /* border: 3px solid red; */
    max-width: 229px;
    max-height: 35px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    padding: 8px 12px;
    gap: 6px;
    background-color: white;
    border-radius: 1000px;
    
}

.early-access h3{
    
    /* max-width: 229px; */
    
    
    /* align-items: center; */
    /* padding: 8px 12px; */
    /* margin-bottom: 16px; */
}

.early-access h3{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.hero-container h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
}

.hero-container .line2{
    color: #30B868;
}

.hero-container p{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-button-container{
    display: flex;
    justify-content: center;
    gap: 16px
}

.banner-button-container button{
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}


/* Note section */
.notes{
    background-color: #f7f6f28d;
}

.notes-container{
    max-width: 1360px;
    margin: 0px auto;
    /* border: 1px solid red; */
    padding-top: 40px;
    
}

.notes-container h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.notes-container p{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.note-card-container{
    display: flex;
    gap: 24px;
    /* border: 1px solid red; */
}

.note-card h3{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 10px;
}

.note-card{
    
    /* border: 1px solid red; */
    max-width: 322px;
    padding: 69.5px 24px 0px 24px;
    box-shadow: 0 -6px 5px rgba(0, 0, 0, 0.08);
    border-radius: 8px 8px 0 0;
    background-color: #ffffff;
}

.note-card img{
    display: block;
    padding: 14px;
    background-color: #F95555;
    max-width: 32px;
    margin: 0px auto;
    margin-bottom: 16px;
    border-radius: 50%;
}

/* Second Brain */

.second-bren{
    padding: 120px;
}

.bren-container{
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    gap: 60px;
    /* justify-content: space-between; */
    align-items: center;
}

.bren-image{
    width: 600px;
    border-radius: 12px;
}

.bren-text h3{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}

.bren-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.bren-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    
}

.bren-text li{

    list-style: none;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001931;
}

/* challenge */

.challenge-box{
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0px auto;
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 0px;

    margin-bottom: 120px;
    border-radius: 12px;
}

.challenge-box h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.challenge-box p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.challenge-box button{
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
}

.message{
    line-height: 20px;
    margin-bottom: 0px;
}

/* footer */

footer{
    background-color: #001931;
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-info{
    max-width: 1360px;
    /* border: 2px solid white; */
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.foot-logo{
    width: 127.25px;
    height: 56px;
}

.footer-info h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-logos img{
    width: 20px;
}

footer hr{
    max-width: 1360px;
    margin: 0px auto;
    border: none;
    height: 1.5px;
    background-color: #62738265;
}

footer p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-top: 30px;
}

/* bug fix */

#transparent-button{
    border: 1px solid white;
    background-color: #00000000;
}

button:hover{
    background-color: #627382;
}